// Variables go here

//fonts
$primaryFont:'Open Sans', sans-serif;
$secondaryFont:'Ubuntu', sans-serif;

//colors
$darkColor: #515866;
$midColor: #D7DEE5;
$lightColor: #EDF0F5;
$linkTextColor: #4779A8;
$textColor: #262626;

// Mixins 


