
//Global Styles 

///////////////////////////////////////
//basic type styles

html{
    font-size: 125%; 
}//html

//basic layout styles
.wrapper{
    max-width: 1024px;
    width: 80%;
    margin: 0 auto;
    display: flex;
}//wrapper

li{
    list-style: none;
}//li

a{
    text-decoration: none;
    color: $linkTextColor;
}//a

img{
    width:100%;
    display: block;
}//img


// font
*{
    font-family: $primaryFont;
}